.DS_Store
.VolumeIcon.icns
.fseventsd
Icon^M^M
Thumbs.db

*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

*.pyc 
*~.nib/

*.mode1v3
*.mode2v3

*.tm_build_errors

.svn

*.xcuserstate
*.xcbkptlist